---
version: "3"
services:
  neo-faucet:
    container_name: neo-faucet
    depends_on:
      - neo-scan-api
    environment:
      NEOSCAN: "neo-scan-api:4000"
    image: cityofzion/neo-local-faucet:latest
    links:
      - "neo-scan-api:4000"
    ports:
      - "4002:4002"

  neo-nodes:
    container_name: neo-nodes
    image: cityofzion/neo-privatenet:2.7.6
    ports:
      - "20333:20333"
      - "20334:20334"
      - "20335:20335"
      - "20336:20336"
      - "30333:30333"
      - "30334:30334"
      - "30335:30335"
      - "30336:30336"

  neo-python:
    container_name: neo-python
    depends_on:
      - neo-nodes
      - neo-scan-api
      - neo-scan-sync
    image: cityofzion/neo-python:v0.8.2
    network_mode: host
    tty: true
    volumes:
      - "./smart-contracts:/smart-contracts"
      - "./wallets:/wallets"

  neo-scan-api:
    container_name: neo-scan-api
    depends_on:
    - postgres
    - neo-nodes
    - notifications-server
    environment:
      HOST: "${HOST_NAME}"
      NEO_NOTIFICATIONS_SERVER: "http://${NOTIFICATIONS_SERVER}:8080/v1"
      NEO_SEEDS: "http://${SEED_SERVER}:30333;http://${SEED_SERVER}:30334;http://${SEED_SERVER}:30335;http://${SEED_SERVER}:30336"
      PORT: 4000
      DB_HOSTNAME: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: neoscan_prodv
      REPLACE_OS_VARS: "true"
    image: registry.gitlab.com/cityofzion/neo-scan/api:latest
    links:
    - "neo-nodes:30333"
    - "neo-nodes:30334"
    - "neo-nodes:30335"
    - "neo-nodes:30336"
    ports:
    - "4000:4000"

  neo-scan-sync:
    container_name: neo-scan-sync
    depends_on:
      - postgres
      - neo-nodes
      - notifications-server
    environment:
      NEO_NOTIFICATIONS_SERVER: "http://${NOTIFICATIONS_SERVER}:8080/v1"
      NEO_SEEDS: "http://${SEED_SERVER}:30333;http://${SEED_SERVER}:30334;http://${SEED_SERVER}:30335;http://${SEED_SERVER}:30336"
      DB_HOSTNAME: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: neoscan_prodv
      REPLACE_OS_VARS: "true"
    image: registry.gitlab.com/cityofzion/neo-scan/sync:latest
    links:
      - "neo-nodes:30333"
      - "neo-nodes:30334"
      - "neo-nodes:30335"
      - "neo-nodes:30336"

  notifications-server:
    command: "/usr/bin/python3 /neo-python/neo/bin/api_server.py --config /neo-python/custom-config.json --port-rest 8080"
    container_name: notifications-server
    depends_on:
      - neo-nodes
    image: cityofzion/neo-python:v0.8.2
    ports:
      - "8080:8080"
    volumes:
      - "./notifications-server.config.json:/neo-python/custom-config.json"

  postgres:
    container_name: postgres
    environment:
      POSTGRES_DB: neoscan_prodv
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    expose:
      - 5432
    image: postgres:10.5
